<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blackteam.testbox">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".TestBoxApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ExamThemesActivity"/>
        <activity android:name=".ui.ExamTestStartActivity"/>
        <activity android:name=".ui.ErrorActivity"/>
        <activity android:name=".ui.TestResultActivity"/>

        <!-- adjustPan - Окно активности и его компоненты не изменяются, а сдвигаются таким образом,
         чтобы текстовое поле с фокусом не было закрыто клавиатурой. -->
        <activity
            android:name=".ui.EditQuestionActivity"
            android:windowSoftInputMode="adjustPan"/>

        <!-- Данные Activity ДОЛЖНЫ сохрянться в истории backstack по след. причине (noHistory=false):
            пользователь не должен иметь возможности вернутся к тесту после его прохождения,
            но если пользователь свернул приложение, то тест дожен восстановится. -->
        <activity android:name=".ui.TrainingQuestionActivity"/>
        <activity android:name=".ui.TestQuestionActivity"/>

        <activity android:name=".ui.SettingsActivity"
            android:label="Preferences"/>
    </application>

</manifest>